* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Titilium Web', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-weight: 600 !important;
    font-size: 30px !important;
    color: #b90f20;
}

h2 {
    color: #fff;
    font-weight: 600 !important;
    font-size: 40px !important;
}

h3 {
    font-weight: 600 !important;
}

h4 {
    font-size: 20px !important;
    color: #181313;
    font-weight: 600;
}

h5 {
    font-size: 18px !important;
    font-weight: 700 !important;
    margin-bottom: 0 !important;
}

i {
    font-size: 12px !important;
}

.ver-mas {
    text-align: center;
}


/*NAVBAR*/

.navbar {
    height: 80px;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 4px 10px 0 rgba(0, 0, 0, .2);
}

.nav-brand {
    font-weight: 500;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
}

.avatar {
    height: 38px;
    width: 38px;
    border-radius: 50%;
}

.bg-navbar {
    /* background: #001f3f; */
    background: #b90f20;
}


/*MAIN*/

main {
    padding: 0px !important;
}

.contenido {
    height: 580px;
    background: #E9EBEE;
    padding: 70px;
    background-image: url(../images/footer.png);
}


/*PORTADA*/

.contenedor {
    height: 640px;
    background: #636060;
    width: 100%;
    overflow: hidden;
    /* padding: 10px; */
}

.slider-contenedor {
    width: 100%;
    display: flex;
}

.contenido-slider {
    width: 100%;
    height: 640px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    flex-shrink: 0;
    padding: 35px;
    background-size: cover;
}

.contenido-slider:nth-child(1) {
    background-image: url(../images/portada5.jpg);
    color: #fff;
    align-items: flex-end;
}

.contenido-slider:nth-child(2) {
    background-image: url(../images/portada2.png);
}

.contenido-slider:nth-child(3) {
    background-image: url(../images/portada4.png);
    align-items: flex-end;
}

.contenido-slider:nth-child(4) {
    background-image: url(../images/portada5.jpg);
    color: #fff;
    align-items: flex-end;
}

.contenedor img {
    height: 400px;
    width: 600px;
}


/*POPULARES*/

.galeria-libro {
    height: 330px;
    padding: 10px 0px;
}

.item-libro {
    width: 18%;
    margin: 1px 3px;
    height: 290px;
    background: ;
}

.detalle-libro {
    height: 100%;
    border: 1px solid transparent;
    margin: 5px 0px;
    border-radius: 5px;
    padding: 15px 4px;
    background: #fff;
    box-shadow: 1px 4px 10px 0 rgba(0, 0, 0, .2);
}

.libro-portada {
    width: 100%;
    height: 70%;
    padding: 0px 12px;
}

.img-libro {
    height: 100%;
    width: 100%;
    border: 0.8px solid transparent;
    box-shadow: 1px 4px 10px 0 rgba(0, 0, 0, .2);
    border-radius: 2px;
}

.libro-descripcion {
    margin-top: 8px;
    height: 30%;
}

.libro-descripcion i {
    color: #FFB944;
}


/*OFERTAS*/

.oferta {
    height: 890px;
}


/**/

.libro {
    background-image: url(../images/libros3.jpg);
    height: 400px;
    /*con efecto*/
}


/*CONTACT*/

.contact {
    background-image: url(../images/portada1.jpg);
    height: 400px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    background-size: cover;
    /*con efecto*/
}

.contact .detalle-contact {
    color: #fff;
}

.form-control {
    width: 40% !important;
}


/*FOOTER*/

footer {
    height: 380px;
    background-image: url(../images/footer.png);
    padding: 70px 50px;
    font-family: 'Montserrat', sans-serif;
}

.lista {
    list-style: none;
}

.lista li a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 400;
}

footer .form-control {
    width: 100% !important;
}

footer .sub {
    display: block;
}

.iconos i {
    font-size: 25px !important;
    margin: 0px 4px;
}

footer span {
    font-size: 18px;
    color: #b90f20;
    font-weight: 600;
}